<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/ev_charging-278A1178-7A03-4F0B-B9B5-C5C41EE43AAB.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19157167</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19157167</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41456877</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41456877</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-391B66E8-46DF-4CA1-9494-38B105B188E7.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19157169</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19157169</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41456843</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41456843</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-5C355FF6-817C-433A-9B7A-99A1C26A2FCC.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19161143</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19161143</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41463174</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41463174</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,17</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,16</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,19</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,3-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,6-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,5-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,3-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,18</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,4-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,6-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,16</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad12,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,5-B</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,4-A</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,17</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad14,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-660707D2-37BC-467A-82C4-51742C15F3F9.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19166846</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19166846</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41467135</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41467135</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-7B8B0BA8-8FD8-4889-9A1D-C95856956F04.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19160743</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19160743</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41460950</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41460950</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-ADB8369A-010E-4D47-8405-4A5DD01ED7ED.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19161087</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19161087</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41462642</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41462642</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-DD7EFD8B-AABE-4F01-A596-E0AFF4BF5876.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19166865</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19166865</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41467407</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41467407</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone14,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone15,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,7</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone15,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,8</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,5</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,2</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,5</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone14,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>16.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging-EF2E310B-D7B0-4168-B35D-8638F3992B3B.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19160739</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19160739</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41460950</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41460950</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/ev_charging.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>19210010</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>19210010</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>41551041</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>41551041</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
